body,
html {
  height: 100%;
  margin: 0;
  background: linear-gradient(to right, #cea6ff 0%, #fcb69f 100%);
  font-family: "Montserrat", sans-serif;
  display: flex;
  font-size: 17pt;
  flex-direction: column; /* Set the main axis to vertical */
  min-height: 100vh; /* Ensure the body takes at least the viewport height */
}
p {
  padding: 5px;
}
footer {
  background-color: #8662b3;
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Remove position: relative; */
}

header {
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
}

.logo {
  width: 150px;
  height: auto;
  margin-left: 40pt;
}

.main-content {
  flex: 1; /* This will make the main content flexible */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.quiz-container {
  text-align: center;
  margin: 20px;
  padding: 20px;
  flex-wrap: wrap;
  width: 100%;
}

.quiz-content {
  background-color: #31313175; /* Darker background for quiz */
  border-radius: 8px;
  padding: 20px;
  color: #f1e6ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alttext {
  color: #f59410;
}

#question-container label {
  text-align: left;
  display: block; /* Makes each option appear on a new line */
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f1e6ff;
  letter-spacing: 1px;
  width: 100%;
}

#quiz {
  display: none;
}
#welcome-screen {
  background-color: #f1e6ff;
  border-radius: 8px;
  padding: 20px;
  color: #313131;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px auto;
  width: 50%; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}
input[type="text"],
input[type="email"] {
  padding: 10px; /* Adjust the value as needed */
  margin: 5px 0; /* Optional: Adds space around the input field */
  border-radius: 5px; /* Optional: Rounds the corners of the input field */
  border: 1px solid #ccc; /* Optional: Adds a border to the input field */
}

#next-btn,
#welcome-screen button {
  background-color: #8662b3;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  z-index: 100;
}

#next-btn:hover,
#welcome-screen button:hover {
  background-color: #e5891f;
}

#progress-bar {
  background-color: #ddd;
  border-radius: 20px;
  width: 98%;
  height: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

#progress {
  background-color: #ff9b26;
  height: 100%;
  width: 0%;
  border-radius: 20px;
  transition: width 0.5s ease-in-out;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.rotating {
  animation: rotateAnimation 1s ease-in-out 1; /* Adjust duration and timing function as needed */
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.5em; /* Reduce font size for smaller screens */
    padding: 0 10px; /* Add padding to prevent text touching the edges */
  }

  .logo {
    order: 3; /* Move logo below the quiz container */
    width: 80px; /* Further reduce logo size for smaller screens */
    margin: 0px; /* Center logo with automatic margins */
  }

  .main-content {
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Stretch children to fill width */
  }

  .quiz-container {
    width: 80%; /* Use full width for container */
    padding: 10px; /* Reduce padding */
  }

  .quiz-content {
    width: 100%; /* Full width for quiz content */
    margin: 0; /* Remove margin */
  }

  #welcome-screen {
    width: 90%; /* Full width for welcome screen and quiz */
    padding: 15px; /* Adjust padding */
  }

  #quiz {
    width: 100%; /* Full width for welcome screen and quiz */
    padding: 0px; /* Adjust padding */
  }

  input[type="text"],
  input[type="email"] {
    width: calc(100% - 20px); /* Full width for input fields, minus padding */
  }

  #next-btn,
  #welcome-screen button {
    width: auto; /* Auto width for buttons */
    padding: 8px 15px; /* Adjust padding for buttons */
  }

  footer {
    position: static; /* Ensure footer is at the bottom */
    padding: 15px 5px; /* Adjust padding */
  }

  #progress-bar {
    width: 95%; /* Adjust progress bar width */
    margin: 5px auto; /* Center progress bar with automatic margins */
  }

  /* Adjustments for label and paragraph text */
  #question-container label,
  p {
    font-size: 0.9em; /* Reduce font size for readability */
    text-align: left; /* Align text to the left */
    padding: 5px; /* Add padding for touch targets */
    margin-top: 0;
  }

  /* Animation adjustments if needed */
  .rotating {
    animation: rotateAnimation 0.5s ease-in-out 1; /* Faster rotation for mobile */
  }
}

/* Ensure header and footer are always visible */
header,
footer {
  z-index: 10; /* High z-index to keep them on top */
}
